@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------------colors*/

button {
    background-color:  #eaa662;
    color: #f27900;
}

.dropdownLink {
    background-color: #eaa662;
    color: #f27900;
}

.dropdownLink:hover {
    color: #f27900;
    background-color: #f20020;
}

.dropdown:hover button {
    background-color: #f20020;
}



/*-------------------------------------------heading*/

.navDefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eaa662;
}

button {
    border: none;
    font-family: "cabin sketch";
    background-color: #eaa662;
    width: 150px;
    height: 50px;
    color: #0a56d1;
    text-transform: uppercase;
    cursor: pointer;
}

.button1 {
    border-radius: 12px;
}

.dropdownMenu{
    font-family: "cabin sketch";
    list-style: none;
    margin:0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: -1;
    width: 150px;
    text-align: center;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
}


.dropdownLink {
    text-decoration: none;
    display: block;
    background-color: #eaa662;
    color: #0a56d1;
    padding: 10px 5px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdownLink:hover {
    color: #f27900;
    background-color: #ffffff;
}

.dropdown {
    width: 150px;
    position: relative;
}

.dropdown:hover button {
    background-color: #ffffff;
}

.dropdown:hover .dropdownMenu {
    transform: translateY(0);
}

#logo {
    background: url("https://s-i.huffpost.com/gen/2055172/images/o-BURNING-MAN-PHOTOS-facebook.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    margin-top: 50px;
}    


.burning-man {
    position: absolute;
    top: 50px;
    left: 150px;
    font-family: "cabin sketch";
    font-size: 80px;
    font-weight: bold;
    color: #0a56d1;
}

.leave-no-trace {
    position: absolute;
    top: 130px;
    left: 180px;
    font-family: "cabin sketch";
    font-size: 50px;
    color: #0a56d1;
}

/*-------------------------------------------footer*/

footer {
    background-color: #eaa662;
    color: #0a56d1;
    min-height: 100px;
    font-family: "cabin sketch";
    font-weight: 500;
    margin-top: 0px;
}

.footer-content {
    margin: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
}

.inner-cloud {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	position: absolute;
	top: 15%;
	left: 25%;
}

p {
	font-size: 16px;
	text-align: center;
	color: #0a56d1;
	font-weight: bold;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #0a56d1;
    background: #ffffff;
     transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: #eaa662;
}

h5 {
    font-family: "cabin sketch";
    font-size: 16px;
    text-align: center;
}

/*-------------------------------------------home page*/

#aerial-view {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#aerial-view img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
    
    
    
    
    
    
    
    
    
    
    
