@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------------colors*/

button {
    background-color:  #eaa662;
    color: #0a56d1;
}

.dropdownLink {
    background-color: #eaa662;
    color: #0a56d1;
}

.dropdownLink:hover {
    color: #f27900;
    background-color: #ffffff;
}

.dropdown:hover button {
    background-color: #ffffff;
}



/*-------------------------------------------heading*/

.navDefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eaa662;
    z-index: 999;
}

button {
    border: none;
    font-family: "cabin sketch";
    background-color: #eaa662;
    width: 150px;
    height: 50px;
    color: #0a56d1;
    text-transform: uppercase;
    cursor: pointer;
}

.button1 {
    border-radius: 12px;
}

.dropdownMenu{
    font-family: "cabin sketch";
    list-style: none;
    margin:0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: -1;
    width: 150px;
    text-align: center;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
}


.dropdownLink {
    text-decoration: none;
    display: block;
    background-color: #eaa662;
    color: #0a56d1;
    padding: 10px 5px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdownLink:hover {
    color: #f27900;
    background-color: #ffffff;
}

.dropdown {
    width: 150px;
    position: relative;
}

.dropdown:hover button {
    background-color: #ffffff;
}

.dropdown:hover .dropdownMenu {
    transform: translateY(0);
}

#logo {
    background: url("https://s-i.huffpost.com/gen/2055172/images/o-BURNING-MAN-PHOTOS-facebook.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    margin-top: 50px;
}    


.burning-man {
    position: absolute;
    top: 50px;
    left: 150px;
    font-family: "cabin sketch";
    font-size: 80px;
    font-weight: bold;
    color: #0a56d1;
}

.leave-no-trace {
    position: absolute;
    top: 130px;
    left: 180px;
    font-family: "cabin sketch";
    font-size: 50px;
    color: #0a56d1;
}

/*-------------------------------------------footer*/

footer {
    background-color: #eaa662;
    color: #0a56d1;
    min-height: 100px;
    font-family: "cabin sketch";
    font-weight: 500;
    margin-top: 0px;
}

.footer-content {
    margin: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    text-align: center;
}

p {
	font-size: 16px;
	text-align: center;
	color: #0a56d1;
	font-weight: bold;
	margin-top: 10px;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #0a56d1;
    background: #ffffff;
     transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: #eaa662;
}

h5 {
    font-family: "cabin sketch";
    font-size: 16px;
    text-align: center;
}

/*-------------------------------------------home page*/

.home {
    position: inherit;
    text-align: center;
    top: 50px;
    left: 150px;
    font-family: "cabin sketch";
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}



.home-info p {
    text-align: justify;
    color: #000000;
    text-transform: initial;
    text-align-last: center;
    padding-left: 100px;
    padding-right: 20px;
    margin-left: 100px;
   
}

#let-it-burn-video {
    margin-left: 200px;
}

#radical-ritual {
    margin-left: 150px;
}


/*-------------------------------------------history*/



.history {
    position: inherit;
    text-align: center;
    top: 50px;
    left: 150px;
    font-family: "cabin sketch";
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

.history-info p {
    text-align: center;
    color: #000000;
    text-transform: initial;
    padding-left: 100px;
    margin-left: 100px;
}

#burning-history {
    margin-left: 250px;
}

#burning-man-timeline {
    margin-left: 150px;
}

/*-------------------------------------------10 Principles*/

.ten-principles {
    position: inherit;
    text-align: center;
    top: 50px;
    left: 150px;
    font-family: "cabin sketch";
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

h2 {
    text-shadow: 2px 2px #0a56d1;
}

p {
    padding-left: 200px;
    color: #000000
}


/*-------------------------------------------global burners*/



.global {
    position: inherit;
    text-align: center;
    top: 50px;
    left: 150px;
    font-family: "cabin sketch";
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}

.global-info p {
    text-align: justify;
    color: #000000;
    text-transform: initial;
    text-align-last: center;
    padding-left: 100px;
    margin-left: 100px;
}

h2 {
    text-shadow: 2px 2px #0a56d1;
}

#afrika-burns {
      
      text-align: center;
      margin-left: 150px;
}

#burning-seed-img {
     text-align: center;
     margin-left: 150px;
}















    
    
    
    
    
    
    
    
    
    
